*{
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f8f9fa;
    color: #495057;
    margin: 0;

}

.product-list {

    display: flex;
    margin:  20px;
    gap: 30px;


}

.product-item {

    display: flex;
    width: 200px;
    height: 125px;

    align-items: center;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

.product-item img {
    margin-right: 10px;
    border-radius: 5px;
}

.product-details {

    display: flex;
    flex-direction: column;

}

.product-details a {

    text-decoration: none;
    color: #0e0e0e;
    padding: 5px;
    margin-bottom: 1px;
}

.add-to-cart-button {

    text-decoration: none;
    font-size: 0.9rem;
    color: #ffffff;
    background-color:#33c52d;
    padding: 4px;
    border-radius: 5px;
    display: inline-block;
    transition: background-color 0.3s ease;
}

.add-to-cart-button:hover {
    background-color: #33c52d;
}
